<!doctype html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | default: site.description }}">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  {% seo %}
</head>
<body>
  <header class="site-header">
    <a class="brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="nav">
      <a href="{{ '/' | relative_url }}">home</a>
      <a href="{{ '/principles' | relative_url }}">principles</a>
      <a href="{{ '/rules' | relative_url }}">rules</a>
      <a href="{{ '/stretches' | relative_url }}">stretches</a>
      <a href="{{ '/study/' | relative_url }}">study</a>
      <a href="{{ '/projects/' | relative_url }}">projects</a>
      <a href="{{ '/setup/' | relative_url }}">setup</a>
    </nav>
  </header>

    <main class="container study-layout">
    <article class="content">
        {{ content }}
    </article>
    </main>

  <footer class="site-footer">
    <span>© {{ site.time | date: "%Y" }} {{ site.title }} • </span>
    <a href="https://github.com/gLuColte/glucolte.github.io">source</a>
  </footer>
</body>
</html>
